<div class="chatBoxInner">
              <div class="box_hd">
                    <div class="title_wrap">

                        <a class="phone_return" ng-click="back()"><span class="backArrow"><</span>返回</a>
                        <div class="title">
                            <a class="title_name">讨论组资料</a>
                            <!--<span class="title_count ">(16)</span>
                            <i class="Presence Presence&#45;&#45;stacked Presence&#45;&#45;chatBox"></i>-->
                        </div>
                        <!-- <a class="editBtn" href="javascript:void 0" ng-click="isEditable=!isEditable"><span ng-if="!isEditable">编辑</span><span ng-if="isEditable">取消</span></a> -->
                    </div>
                </div>

<div id="functionBox">

  <div class="groupInfo">
      <div class="groupData clearfix">
          <div class="photo">
              <img class="img" ng-show="discussionInfo.imgSrc" ng-src="{{'assets/img/room_icon.png'||discussionInfo.imgSrc}}" alt="">
              <!-- <div id="portrait" ng-show="!discussionInfo.imgSrc" class="portrait">{{discussionInfo.firstchar}}</div> -->
          </div>
          <div class="info">
              <h3 class="groupName">
                  <span class="groupName_text">{{discussionInfo.name}}</span>
              </h3>
              <p class="groupNum">讨论组成员
              </p>
          </div>
      </div>
      <div class="groupFunBtn" style="color: #00a0ff;" ng-click="toChat()">发起群聊</div>
      <div class="groupAddUser" ng-show="isEditable" ng-click="addmember()"><a href="javascript:void 0"></a>添加新成员</div>
      <div class="groupUserList" style="margin-bottom: 200px;">
          <div>
              <p class="withoutFriends hide">讨论组还没添加成员</p>
              <ul class="friendsList ">
                  <discussion-member ng-repeat="item in discussionInfo.memberList" item="item" isshow="isEditable&&discussionInfo.isCreater" update-select="getSelect(val)"></discussion-member>
              </ul>
          </div>
      </div>
      <!-- <div class="groupFunBtn" ng-click="dismiss()" ng-show="discussionInfo.isCreater&&!isEditable">退出讨论组并解散</div> -->
      <div class="groupFunBtn" ng-click="kickMember()" ng-show="discussionInfo.isCreater&&isEditable">删除</div>
      <div class="groupFunBtn" ng-click="quitDiscussion()">退出讨论组</div>
  </div>

</div>
</div>
