<div class="chatBoxInner">
              <div class="box_hd">
                    <div class="title_wrap">

                        <a class="phone_return" ng-click="back()"><span class="backArrow"><</span>返回</a>
                        <div class="title">
                            <a class="title_name">修改密码</a>
                            <!--<span class="title_count ">(16)</span>
                            <i class="Presence Presence&#45;&#45;stacked Presence&#45;&#45;chatBox"></i>-->
                        </div>
                        <!-- <a class="editBtn" href="javascript:void 0" ng-click="save()">确认</a> -->
                    </div>
                </div>
<div id="functionBox">

    <div class="userModify">
        <form name="formModifyPWD" class="form-horizontal" novalidate="novalidate">
            <div class="form-group">
                <label for="curPW" class="col-sm-2 control-label nowrap resetFontW">当前密码:</label>
                <div class="col-sm-6">
                    <input type="password" name="oldpassword" ng-model="user.oldpassword" ng-keydown="validate.oldpassworderror=false" required ng-pattern='/^[0-9a-zA-Z!@#$%^&*(){}:"|>?\[\];,./\-=_+]{6,16}$/' class="form-control" id="curPW" my-focus>
                    <span class="error-block" ng-show="formModifyPWD.oldpassword.$dirty&&formModifyPWD.oldpassword.$error.required&&!formModifyPWD.oldpassword.$focused">不能为空</span>
                    <span class="error-block" ng-show="!formModifyPWD.oldpassword.$error.required&&formModifyPWD.oldpassword.$dirty&&formModifyPWD.oldpassword.$error.pattern&&!formModifyPWD.oldpassword.$focused">6-16 位的字母、数字或 “_”</span>
                    <!-- <span class="error-block" ng-show="!formModifyPWD.oldpassword.$error.required&&validate.oldpassword&&!formModifyPWD.oldpassword.$focused">当前密码不正确</span> -->

                </div>
            </div>
            <div class="form-group">
                <label for="newPW" class="col-sm-2 control-label nowrap resetFontW">新密码:</label>
                <div class="col-sm-6">
                    <input type="password" name="newpassword" ng-model="user.newpassword" required ng-pattern='/^[0-9a-zA-Z!@#$%^&*(){}:"|>?\[\];,./\-=_+]{6,16}$/' class="form-control" id="newPW" my-focus ng-blur="validRepeatPwd()">
                    <span class="error-block" ng-show="formModifyPWD.newpassword.$dirty&&formModifyPWD.newpassword.$error.required&&!formModifyPWD.newpassword.$focused">不能为空</span></span>
                    <span class="error-block" ng-show="!formModifyPWD.newpassword.$error.required&&formModifyPWD.newpassword.$dirty&&formModifyPWD.newpassword.$error.pattern&&!formModifyPWD.newpassword.$focused">6-16 位的字母、数字或 “_”</span>
                </div>
            </div>
            <div class="form-group">
                <label for="renewPW" class="col-sm-2 control-label nowrap resetFontW">确认新密码:</label>
                <div class="col-sm-6">
                    <input type="password" name="repeatpassword" ng-model="user.repeatpassword" required pw-match="formModifyPWD.newpassword" class="form-control" id="renewPW" my-focus>
                    <span class="error-block" ng-show="formModifyPWD.repeatpassword.$dirty&&formModifyPWD.repeatpassword.$error.pwmatch&&!formModifyPWD.repeatpassword.$focused">两次密码输入不一致</span>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-10 userModifyBtn">
                <button type="button" class="btn" ng-click="save()">保存</button>
                <span class="error-block" ng-show="validate.oldpassworderror">当前密码错误</span>
                <!-- <span class="success-block">密码修改成功</span> -->
            </div>
        </form>
    </div>

</div>
</div>
