<div class="resetBox">
    <span style="position: absolute;right: 50px;top: 35px;"><a style="text-decoration: underline;color: white;" ui-sref="account.signin">立即登录</a></span>
    <div class="resetInner">
        <div class="step2">
            <h2>设置密码</h2>
            <form name="formResetPwd" novalidate="novalidate">
                <div class="form-group">
                    <input type="password" name="newpassword" ng-model="user.newpassword"  required ng-pattern='/^[0-9a-zA-Z!@#$%^&*(){}:"|>?\[\];,./\-=_+]{6,16}$/' class="form-control pwd" placeholder="新密码（密码由 6-16 个字符组成）" my-focus>
                    <p class="error-block" ng-show="(formResetPwd.newpassword.$dirty||formResetPwd.submitted)&&formResetPwd.newpassword.$invalid&&!formResetPwd.newpassword.$focused">6-16 位的字母、数字或 “_”</p>
                </div>
                <div class="form-group">
                    <input type="password" name="repassword" ng-model="user.repassword" required pw-match="formResetPwd.newpassword" class="form-control repwd" placeholder="再次输入" my-focus>
                    <p class="error-block" ng-show="(formResetPwd.repassword.$dirty||formResetPwd.submitted)&&formResetPwd.repassword.$error.required&&!formResetPwd.repassword.$focused">不可以为空</p>
                    <p class="error-block" ng-show="formResetPwd.repassword.$dirty&&formResetPwd.repassword.$error.pwmatch&&!formResetPwd.repassword.$focused">两次输入不一致</p>
                </div>
                <div class="button-wrapper form-group">
                    <button class="sign-button step2Btn" ng-click="submit()" type="submit">完成</button>
                </div>
            </form>
        </div>
    </div>
</div>
