<div class="chatBoxInner">
              <div class="box_hd">
                    <div class="title_wrap">
                        
                        <a class="phone_return" ng-click="back()"><span class="backArrow"><</span>返回</a>

                        <div class="title">
                            <a class="title_name">搜索群组</a>
                            <!--<span class="title_count ">(16)</span>
                            <i class="Presence Presence&#45;&#45;stacked Presence&#45;&#45;chatBox"></i>-->
                        </div>
                    </div>
                </div>
<div id="functionBox">
    <div class="joinGroup">
        <div class="step1">
            <search-input search="searchgroup(content)"></search-input>
            <div>
                <ul>
                  <addgroupitem ng-repeat="item in grouplist" item="item"></addgroupitem>
                </ul>
            </div>
        </div>

    </div>
</div>
</div>
