<div class="content ">
    <div class="main">
      <div class="mainWrap clearfix">
        <div class="leftBox pull-left"></div>
        <div class="rightBox pull-left">
            <div class="sign-flow signinBox">
                <form class="form-inline" name="formSignin" novalidate="novalidate">
                    <div class="title">
                        <a class="cur signinBtn" href="javascript:void 0">登录</a>
                        <a class="signupBtn" href="javascript:void 0" ui-sref="account.signup">注册</a>
                        <div class="triangle-up"></div>
                    </div>
                    <div class="form-group firstNone">
                        <input type="text" placeholder="手机号" required  class="form-control-my" name="accountNumber" ng-model="user.accountNumber" ng-pattern="/^1[3-9][0-9]{9,9}$/"   id="username" my-focus>
                        <p class="error-block" ng-show="(formSignin.accountNumber.$dirty||formSignin.submitted)&&formSignin.accountNumber.$invalid&&!formSignin.accountNumber.$focused">手机号格式错误</p>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="密码" required ng-pattern='/^[0-9a-zA-Z!@#$%^&*(){}:"|>?\[\];,./\-=_+]{6,16}$/' class="form-control-my" name="passWord" ng-model="user.passWord"  id="pwdIn" my-focus>
                        <p class="error-block" ng-show="(formSignin.passWord.$dirty||formSignin.submitted)&&formSignin.passWord.$invalid&&!formSignin.passWord.$focused">密码格式错误</p>
                        <p class="error-block" ng-show="!formSignin.passWord.$invalid&&userorpwdIsError&&!formSignin.passWord.$focused">手机号或密码错误</p>
                    </div>
                    <div class="button-wrapper form-group">
                        <button class="sign-button submit" type="submit" ng-click="signin()">登录</button>
                    </div>
                    <div class="bot clearfix">
                        <a class="pull-right" href="javascript:void 0" ui-sref="account.forgotpassword">找回密码</a>
                    </div>
                  </form>
                </div>
          </div>
        </div>
    </div>
</div>
