<div class="chatBoxInner">
              <div class="box_hd">
                    <div class="title_wrap">

                        <a class="phone_return" ng-click="back()"><span class="backArrow"><</span>返回</a>
                        <div class="title">
                            <a class="title_name">用户设置</a>
                        </div>
                        <a class="editBtn" href="javascript:void 0" ng-show="!editable" ng-click="edit()">编辑</a>
                        <a class="editBtn" href="javascript:void 0" ng-show="editable" ng-click="save()">保存</a>
                    </div>
                </div>

<div id="functionBox">
    <div class="userInfo">
        <div class="userData clearfix">
            <div class="photo">
                <img class="img" ng-show="loginUser.portraitUri" ng-src="{{loginUser.portraitUri||'assets/img/barBg.png'}}" alt="">
                <div id="portrait" ng-show="!loginUser.portraitUri" class="portrait">{{loginUser.firstchar}}</div>
            </div>
            <div class="info" ng-show="!editable">
                <h3 class="userName">
                    <span class="userName_text">
                      {{loginUser.nickName||'未知'}}
                      <!-- <i class="Presence Presence--user offline"></i> -->
                    </span>
                </h3>
                <!-- <p class="userId">ID : <span>{{loginUser.id}}</span></p> -->
                <!-- <p class="isBlack">已加入黑名单</p> -->
            </div>
            <div class="editName clearfix" ng-show="editable">
              <form name="modifyName" novalidate="novalidate">
                  <div class="clearfix">
                    <div class="col-xs-3">
                        <input type="text" name="userName" class="form-control" id="editName" required  ng-minlength="1" ng-maxlength="32"  ng-model="newName">
                      </div>
                      <span class="error-block" ng-show="modifyName.userName.$dirty&&modifyName.userName.$error.required">用户名不能为空</span>
                      <span class="error-block" ng-show="modifyName.userName.$dirty&&(modifyName.userName.$error.minlength||modifyName.userName.$error.maxlength)">昵称长度1-32</span>
                    </div>
              </form>
            </div>
        </div>
        <div class="userFunPannel clearfix">
            <ul class="clearfix myInfo">
                <li class="clearfix">
                    <div class="left">
                        <p><span>账号安全</span></p>
                    </div>
                    <div class="right"><a href="javascript:void 0" ui-sref="main.modifypassword">修改密码<i></i></a></div>
                </li>
                <li class="clearfix">
                    <div class="left">
                        <p><span>系统消息</span></p>
                    </div>
                    <div class="right">
                      <!-- <input type="checkbox" class="js-switch isBlackBtn" ios-switcher checked /></div> -->
                      <switch id="enabled" name="enabled" ng-model="loginUser.hasSound"  class="green"></switch>
                </li>
                <li class="clearfix">
                    <div class="left">
                        <p><span>隐私</span></p>
                    </div>
                    <div class="right"><a href="javascript:void 0" ui-sref="main.blacklist">黑名单<i></i></a></div>
                </li>
                <li class="clearfix" style="margin-top:200px">
                    <div class="left">
                        <p><span class="redColor" style="cursor:pointer;" ng-click="logout()">退出登录</span></p>
                    </div>
                    <div class="right hide"><input type="checkbox" class="js-switch" checked /></div>
                </li>
            </ul>
        </div>
    </div>

</div>
</div>
